body {
  background-color: #296ed1;
  font-size: 12pt;
}
header,
footer {
  display: flex;
  background-color: #fcfcfc;
  justify-content: center;
  border-radius: 20pt;
  border: #279af1 5pt solid;
}
footer {
  align-self: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  height: 150px;
  width: 98%;
  bottom: 0;
  padding: 0px;
  margin: 0px;
}
header {
  position: fixed;
  top: 0;
  width: 98%;
  align-items: center;
  align-self: center;
  height: 10%;
}
p {
  margin: 5px;
  color: #131200;
}
h1,
h2 {
  color: #279af1;
}
h2 {
  padding: 0;
}
.item {
  margin: 10px;
  padding: 5px;
  background-color: #fcfcfc;
  border: #279af1 solid 5pt;
  border-radius: 20pt;
  display: flex;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #296ed1;
  border-radius: 25pt;
  height: 100%;
}
.projects {
  width: 100%;
  height: 100%;
}
.content {
  display: grid;
  grid-template-columns: minmax(200px, 25%) 1fr;
}
img {
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.sidebar_spacer {
  top: 200px;
  bottom: 160px;
  width: 400px;
}
.sidebar {
  position: fixed;
  background-color: #fcfcfc;
  border-radius: 20pt;
  border: #279af1 solid 5pt;
  margin: 10px;
  display: flex;
  flex-direction: column;
  top: 200px;
  bottom: 160px;
  width: 25%;
}
.sidebar h2 {
  text-align: center;
  margin: 0px;
}
.sidebar p {
  margin: 10px;
}
.gary_pic {
  align-self: center;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 5px solid #279af1;
  border-radius: 50px;
}
nav {
  padding-bottom: 5px;
}
.bio {
  font-size: 12pt;
}
.highlight {
  color: #131200;
  background-color: #f6ae2d;
}
a:link {
  color: #385b94;
}
a:visited {
  color: #131200;
}
a:hover {
  color: #f6ae2d;
}
a:active {
  color: #f6ae2d;
}
.spacer {
  height: 150px;
}
