body {
  background-color: #296ed1;
}
header,
footer {
  display: flex;
  background-color: #fcfcfc;
  justify-content: center;
  border-radius: 20pt;
  border: #279af1 5pt solid;
}
p {
  margin: 5px;
  color: #131200;
}
h1,
h2 {
  color: #279af1;
}
h2 {
  padding: 0;
}
.item {
  margin: 10px;
  padding: 5px;
  background-color: #fcfcfc;
  border: #279af1 solid 5pt;
  border-radius: 20pt;
  display: flex;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #296ed1;
  border-radius: 25pt;
  height: 100%;
}
.projects {
  width: 100%;
  height: 100%;
}
.content {
  display: grid;
  grid-template-columns: minmax(250px, 25%) 1fr;
}
img {
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.sidebar {
  background-color: #fcfcfc;
  border-radius: 20pt;
  border: #279af1 solid 5pt;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
footer {
  align-items: center;
  flex-direction: column;
}
.gary_pic {
  align-self: center;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 5px solid #279af1;
  border-radius: 50px;
}
nav {
  padding-bottom: 5px;
}
